body {
    overflow: hidden;
}

#sidebar {
    right: 0px;
    top: 0px;
    position: absolute;
    width: 400px;
    height: 100%;
    visibility: visible;
    background-color: grey;
}

#logo {
    width: 200px;
}

#topLogo {
    height: 160px;
    position: absolute;
    top: 0px;
    width: 400px;
    background-color: rgb(43, 43, 43);
}

#logoText {
    display: inline;
    color: white;
    position: absolute;
    bottom: 0%;
    font-size: 64px;
    font-family: 'Alegreya Sans SC', serif;
    left: 40%
}

p {
    position: relative;
    top: 0px;
    left: 0px;
    font-weight: 1000;
    font-size: medium;
    font-family: 'Alegreya Sans SC', serif;
}

#playerButton {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#npcButton {
    position: absolute;
    top: 25%;
    right: 30%;
    width: 50px;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#winButton {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#wallButton {
    position: absolute;
    top: 35%;
    right: 30%;
    width: 50px;
    text-align: center;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#hazardButton {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#doorButton {
    position: absolute;
    top: 45%;
    right: 30%;
    width: 50px;
    height: 50px;
    border-color: rgba(43, 43, 43, 0);
    background-color: rgba(43, 43, 43, 0);
}

#playerImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    background-color: red;
    overflow: hidden;
}

#npcImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    background-color: darkRed;
}

#doorImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    background-color: aqua;
}

#winImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(0, 203, 0);
}

#wallImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: blue;
}

#hazardImg {
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgb(255, 111, 0);
}

#hazardName {
    font-size: 14px;
    text-align: center;
}

#playerObj {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 0px;
    top: 0px;
}

#confirm {
    visibility: hidden;
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: -10px;
}

#clientConfirm {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: -10px;
}

#clientConfirmButton {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    top: -20px;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: -20px;
}

#confirmNpcText {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    right: 40%;
    top: 10px;
}

.blank {
    position: absolute;
    left: 0px;
    top: 0px;
}

#npcText {
    position: absolute;
    top: 40px;
    left: 25%;
    width: 500px;
    height: 100px;
    text-align: left;
}

#npcTextArea {
    visibility: hidden;
}

#wallSizingArea {

    position: absolute;
    top: 40px;
    left: 25%;
    width: 500px;
    height: 100px;
    background-color: gray;
    border-radius: 25px;
    border-color: black;
}

#sliders {
    visibility: hidden;
}

#input2 {
    appearance: slider-vertical;
    height: 90%;
    bottom: 5%;
    left: 0px;
    padding: 0%;
    transform: rotate(180deg);
    position: absolute;
}

#input {
    width: 90%;
    bottom: 10px;
    left: 5%;
    padding: 0%;
    position: absolute;
}

#wallSizeButton {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: 35%;
    top: 10px;
}

#hazardSizeButton {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: 35%;
    top: 10px;
}

#sliders2 {
    visibility: hidden;
}

#inputH2 {
    appearance: slider-vertical;
    height: 90%;
    bottom: 5%;
    left: 0px;
    transform: rotate(180deg);
    padding: 0%;
    position: absolute;
}

#inputH {
    width: 90%;
    bottom: 10px;
    left: 5%;
    padding: 0%;
    position: absolute;
}

#buttonObjBase {
    visibility: hidden;
}

#button1 {
    width: 60px;
    height: 60px;
    background-color: rgb(255, 0, 0);
    top: 5px;
    left: 5px;
    position: absolute;
}

#sliders3 {
    visibility: hidden;
}

#inputD2 {
    appearance: slider-vertical;
    height: 90%;
    bottom: 5%;
    left: 0px;
    transform: rotate(180deg);
    padding: 0%;
    position: absolute;
}

#button2 {
    width: 50px;
    height: 50px;
    background-color: rgb(212, 0, 0);
    top: 5px;
    left: 5px;
    position: absolute;
}

#inputD {
    width: 90%;
    bottom: 10px;
    left: 5%;
    padding: 0%;
    position: absolute;
}

#DoorSizeButton {
    width: 59px;
    height: 25px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: 35%;
    top: 10px;
}

#Download {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgb(29, 116, 29);
    border-radius: 25px;
    color: white;
    border-width: 3px;
    border-color: green;
    position: absolute;
    left: 40%;
    padding: 0%;
    margin: 0%;
    bottom: 80px;
}