#char {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    position: absolute;
    background-color: red;
}

#box {
    width: 100px;
    height: 600px;
    right: 50%;
    top: 0px;
    position: absolute;
    background-color: blue;
}

#right {
    width: 10px;
    height: 90%;
    position: absolute;
    right: -5px;
    top: 5px;
    background-color: rgba(255, 255, 0, 0);
}
#left {
    width: 10px;
    height: 90%;
    position: absolute;
    left: -5px;
    top: 5px;
    background-color: rgba(255, 255, 0, 0);
}
#top {
    width: 90%;
    height: 10px;
    position: sticky;
    right: 5px;
    top: -5px;
    background-color: rgba(255, 255, 0, 0);
}
#bottom {
    width: 90%;
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: -5px;
    background-color: rgba(255, 255, 0, 0);
}