#char {
    width: 50px;
    height: 50px;
    left: 50px;
    top: 50px;
    position: absolute;
    background-color: red;
}

#box {
    width: 100px;
    height: 100px;
    right: 500px;
    top: 500px;
    position: absolute;
    background-color: blue;
}

#right {
    width: 10px;
    height: 90px;
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: yellow;
}
#left {
    width: 10px;
    height: 90px;
    position: absolute;
    left: 0px;
    top: 5px;
    background-color: green;
}
#top {
    width: 90px;
    height: 10px;
    position: sticky;
    right: 5px;
    top: 0px;
    background-color: purple;
}
#bottom {
    width: 90px;
    height: 10px;
    position: absolute;
    right: 5px;
    bottom: 0px;
    background-color: orangered;
}