body {
  overflow: hidden;
}

#sidebar {
  right: 0px;
  top: 0px;
  position: absolute;
  width: 400px;
  height: 100%;
  visibility: visible;
  background-image: linear-gradient(rgb(169, 0, 169), rgb(0, 0, 0));
}

#logo {
  width: 250px;
  animation: bounce 1s infinite;
}


@keyframes bounce {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

#topLogo {
  height: 160px;
  position: absolute;
  top: -5px;
  left: 75px;
  width: 400px;
}

#logoText {
  display: inline;
  color: white;
  position: absolute;
  bottom: 0%;
  font-size: 64px;
  font-family: 'Alegreya Sans SC', serif;
  left: 40%
}

p {
  position: relative;
  top: 0px;
  left: 0px;
  font-weight: 1000;
  font-size: medium;
  font-family: 'Alegreya Sans SC', serif;
}

#playerButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#npcButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#winButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

p {
  padding: 12.5px 0;
  margin: auto;
}

.table * {
  margin: auto;
}

.tablerow>* {
  margin: auto;
}

.tablecolumn>* {
  margin: auto;
}

.tablecolumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tablerow {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

button {
  cursor: pointer;
}

#wallButton {
  width: 50px;
  text-align: center;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#hazardButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#doorButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#playerImg {
  width: 50px;
  height: 50px;
  background-color: red;
  overflow: hidden;
}

#npcImg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: darkRed;
}

#doorImg {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: aqua;
}

#winImg {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 203, 0);
}

#wallImg {
  width: 50px;
  height: 50px;
  background-color: blue;
}

#hazardImg {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 111, 0);
}

#hazardName {
  font-size: 14px;
  padding: 12.5px 0;
  text-align: center;
}

#playerObj {
  width: 50px;
  height: 50px;
  background-color: red;
}

#confirm {
  visibility: hidden;
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: -10px;
}

#clientConfirm {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: -10px;
}

#clientConfirmButton {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  top: -20px;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: -20px;
}

#confirmNpcText {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  right: 550px;
  top: 10px;
}


.blank {
  position: absolute;
  left: 0px;
  top: 0px;
}

#npcText {
  position: absolute;
  top: 40px;
  right: 45%;
  width: 500px;
  height: 100px;
  resize: none;
}


#npcTextArea {
  visibility: hidden;
}

#wallSizingArea {

  position: absolute;
  top: 40px;
  left: 25%;
  width: 500px;
  height: 100px;
  background-color: gray;
  border-radius: 25px;
  border-color: black;
}

#sliders {
  visibility: hidden;
}

#input2 {
  appearance: slider-vertical;
  height: 90%;
  bottom: 5%;
  left: 0px;
  padding: 0%;
  transform: rotate(180deg);
  position: absolute;
}

#input {
  width: 90%;
  bottom: 10px;
  left: 5%;
  padding: 0%;
  position: absolute;
}

.tb1>div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tb2>div {
  margin-top: 15px;
  margin-bottom: 15px;
}

#wallSizeButton {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: 35%;
  top: 10px;
}

#hazardSizeButton {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: 35%;
  top: 10px;
}

#sliders2 {
  visibility: hidden;
}

#inputH2 {
  appearance: slider-vertical;
  height: 90%;
  bottom: 5%;
  left: 0px;
  transform: rotate(180deg);
  padding: 0%;
  position: absolute;
}

#inputH {
  width: 90%;
  bottom: 10px;
  left: 5%;
  padding: 0%;
  position: absolute;
}

#buttonObjBase {
  visibility: hidden;
}

#button1 {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 0, 0);
  top: 5px;
  left: 5px;
  position: absolute;
}

#sliders3 {
  visibility: hidden;
}

#inputD2 {
  appearance: slider-vertical;
  height: 90%;
  bottom: 5%;
  left: 0px;
  transform: rotate(180deg);
  padding: 0%;
  position: absolute;
}

#button2 {
  width: 50px;
  height: 50px;
  background-color: rgb(212, 0, 0);
  top: 5px;
  left: 5px;
  position: absolute;
}

#inputD {
  width: 90%;
  bottom: 10px;
  left: 5%;
  padding: 0%;
  position: absolute;
}

#DoorSizeButton {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: 35%;
  top: 10px;
}

#Download {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  padding: 0%;
  margin: 2.5%;
}

#compiler {
  padding: 0%;
  margin: 2.5%;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
}

#decompiler {
  padding: 0%;
  margin: 2.5%;
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
}

#subtitle {
  user-select: none;
  text-align: center;
  color: #f3beff;
  text-shadow: 1px 1px 0px #000;
  position: relative;
  bottom: 80px;
  left: 20px;
  animation: subtitle 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-family: sans-serif;
}

.subwrap {
  position: relative;
  top: 45px;
  right: 100px;
}

@keyframes subtitle {
  0% {
    transform: scale(0.76274958733974653947659384756839847583487584) rotate(3deg)
  }

  100% {
    transform: scale(1.01485945876475647956) rotate(-3deg)
  }
}

.tabs {
  font-size: 0;
  margin: 25px 0;
  width: 400px;
  position: relative;
  top: 200px;
  font-family: 'Alegreya Sans SC', serif;
}

.tabs:after {
  clear: both;
  content: '';
  display: table;
}

.tabs .tab {
  display: inline;
}

.tab-label {
  font-weight: 600;
  user-select: none;
}

.t1 {
  background: #7814a3;
}

.t2 {
  background: darkcyan;
}

.t3 {
  background: #238223;
}

.tr1:checked+.t1 {
  background: linear-gradient(#7914a4, #7814a3);
}

.tr1:checked~.tc1 .tb1 {
  background: linear-gradient(#7914a4, #260b31);
}

.tr2:checked~.t2 {
  background: darkcyan;
}

.tr2:checked~.tc2 .tb2 {
  background: linear-gradient(darkcyan, rgb(2, 30, 30));
}

.tr3:checked~.t3 {
  background: linear-gradient(rgb(35, 130, 35), #238223);
}

.tr3:checked~.tc3 .tb3 {
  background: linear-gradient(rgb(35, 130, 35), rgb(9, 33, 9));
}


.tabs .tab-label {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  left: 1px;
  margin-left: -1px;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
  border-radius: 1em 1em 0 0;
}

.tabs .tab>[type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tab-content {
  height: 100%;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: white;
  padding: 0 20px;
  float: right;
  font-size: 16px;
  font-size: 1rem;
  overflow: auto;
  margin-top: -1px;
  width: 100%;
}

.tabs .tab {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tabs .tab [type="radio"]:checked~.tab-panel {
  display: inline;
}



/*

=======================================
INTERNET EXPLORER 8 and below 
=======================================

*/
@media \0screen\,screen\9 {

  /* IE7 and IE6 */
  .tabs {
    zoom: 1;
  }

  /* IE8 and below */
  .tabs .tab .tab-radio {
    filter: Alpha(opacity=0);
    position: absolute;
    z-index: -1;
  }

  /* IE7 and IE6 */
  .tabs .tab .tab-panel,
  {
  display: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
}

/* IE7 and IE6 */
.tabs .tab-content,
{
float: none;
padding-bottom: 1px;
padding-top: 1px;
width: auto;
}

/* IE8 and below */
.tabs .checked label {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

/* IE8 */
.tabs .checked .tab-panel {
  display: inline;
}

/* IE7 and IE6 */
.tabs .checked .tab-panel,
{
display: inline;
float: left;
width: 100%;
}
}






/*

=======================================
UNIMPORTANT STYLES BEGIN HERE
=======================================

*/
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: #58C;
}

label {
  cursor: pointer;
}

.tabs {
  color: #222;
}

.tabs a:link,
.tabs a:visited,
.tabs a:hover,
.tabs a:focus,
.tabs a:active {
  color: #36A;
}

body>h3 {
  font-variant: small-caps;
  letter-spacing: .0625em;
}

p {
  line-height: 1.5;
  max-width: 50em;
}

code,
pre {
  font-family: 'Lucida Console', monospace;
}

pre {
  background: #191919;
  color: #8DA;
  overflow-x: auto;
  padding: 1em;
}

p>code {
  background: #DED;
  margin: -2px;
  padding: 2px;
}

.for {
  display: inline-block;
  position: relative;
}

.for:after {
  background: #DDD;
  bottom: 150%;
  color: #222;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;
}

.for:hover:after {
  opacity: 1;
}

.for.default-tab {
  color: #8AD;
}

.for.ie8-and-below {
  color: #DA8;
}

.for.default-tab:after {
  content: 'For default tab';
}

.for.ie8-and-below:after {
  content: 'For IE8 and below';
}

/* and just for fun... */
@media only screen and (max-width: 43em) {
  .tabs .tab>label {
    background: #BBB;
    border-color: #999;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }

  .tabs .tab [type="radio"]:checked+.tab-label {
    background: #222;
    border-color: #444;
    color: #DDD;
  }
}


#repulseImg {
  width: 50px;
  height: 50px;
  background-color: rgb(219, 0, 128);
}

#repulseButton {
  position: absolute;
  top: 55%;
  left: 30%;
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#portalImg {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to right, OrangeRed , darkBlue);
  overflow: hidden;
}


#portalButton {
  width: 50px;
  height: 50px;
  border-color: rgba(43, 43, 43, 0);
  background-color: rgba(43, 43, 43, 0);
}

#RepulseSizeButton {
  width: 59px;
  height: 25px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: 35%;
  top: 10px;
}

#colorPicker {
  visibility: hidden;
}

#color {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 40%;
  top: 10px;
}

#sliders4 {
  visibility: hidden;
}

#inputR2 {
  appearance: slider-vertical;
  height: 90%;
  bottom: 5%;
  left: 0px;
  transform: rotate(180deg);
  padding: 0%;
  position: absolute;
}

#inputR {
  width: 90%;
  bottom: 10px;
  left: 5%;
  padding: 0%;
  position: absolute;
}


#heIIo {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: rgb(29, 116, 29);
  border-radius: 25px;
  color: white;
  border-width: 3px;
  border-color: green;
  position: absolute;
  left: 40%;
  padding: 0%;
  margin: 0%;
  bottom: 10px;
}